.contact-forms {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.call-whatsapp,
.location,
.email-us,
.social-media {
    width: 50%;
}

@media(max-width:768px) {
    .contact-forms {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
    .ex-form-1 .text-box {
        padding: 2.5rem 1.5rem 1.5rem 1.75rem;
        border-radius: 10px;
        background-color: #f9f9f9;
        width: 385px;
    }
}